<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />


<f:section name="content">

<h1>{error.url}</h1>

<f:form class="form-inline" name="demand" object="{demand}" action="show">
		<div class="form-group">
			<f:form.select class="form-control" property="minTime" options="{demand.minDateOptions}" />
			<f:form.hidden property="urlHash" />
		</div>
</f:form>

<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist">
	<tr class="t3-row-header">
		<td><f:translate key="title.error_grouped_by_day" /></td>
	</tr>
	<tr>
		<td><canvas width="400" height="100" data-chart="{f:uri.action(action: 'list', format: 'json', arguments: {demand: {type: 'ErrorGroupedByDay', minTime: demand.minTime, urlHash: demand.urlHash}})}"></canvas></td>
	</tr>
</table>

</f:section>

</html>


