<f:layout name="Default" />

<f:section name="content">
<h1>Listing for Error</h1>

<f:flashMessages />

<canvas height="200" width="600" class="ct-chart" data-chart="url" data-source="{f:uri.action(action: 'chart', format: 'json', arguments: {demand: 'urls'})}"></canvas>
<canvas height="200" width="600" class="ct-chart" data-chart="url" data-source="{f:uri.action(action: 'chart', format: 'json', arguments: {demand: 'reasons'})}"></canvas>
<canvas height="200" width="600" class="ct-chart" data-chart="count" data-source="{f:uri.action(action: 'chart', format: 'json', arguments: {demand: 'count'})}"></canvas>

</f:section>