
<f:layout name="Default" />


<f:section name="content">

<f:flashMessages />
<div class="panel panel-space panel-default recordlist">
	<div class="panel-heading">
		<f:translate key="title.error.list" />
	</div>
	<div class="table-fit">
		<table  class="table table-striped table-hover" >
			<thead>
				<tr>
					<th><f:translate key="tx_error404page_domain_model_error.url" /></th>
					<th><f:translate key="tx_error404page_domain_model_error.counter" /></th>
				</tr>
			</thead>
			<tbody>
			<f:for each="{errors}" as="error">
				<tr class="log-row">
					<td>{error.url}</td>
					<td>{error.counter}</td>
				</tr>
			</f:for>
			</tbody>
		</table>
	</div>
</div>

</f:section>